@model ShopMVC.ViewModels.UpdatableProductViewModel[]

@{
    ViewData["Title"] = "Manage";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List Products</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Create Product
            </a>
        </div>
    </div>
    <br/>
    <table class="table table-bordered table-striped" style="width: 100%">
        <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Available Quantity</td>
            <td>Price</td>
            <td>Modified On</td>
            <td>Modified By</td>
            <td>Action</td>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.AvailableQuantity</td>
                <td>@product.Price</td>
                <td>@product.ModifiedOn</td>
                <td>@product.ModifiedBy</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-productId="@product.Id">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" id="btnShowModal" data-target="#exampleModal">
                       <i class="bi bi-trash-fill"></i>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body">
                                    Are you sure that deleting product @product.Name?
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete" asp-route-productId="@product.Id">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnHideModal">Cancel</button>
                                            <input type="submit" value="Yes" class="btn btn-primary"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
<script type="text/javascript">  
        $(document).ready(function () {  
            $("#btnShowModal").click(function () {  
                $("#exampleModal").modal('show');  
            });  
  
            $("#btnHideModal").click(function () {  
                $("#exampleModal").modal('hide');  
            });
            
            $("#btnDelete").click(function (){
                var productId = $('productId').val();
                $.ajax({
                type: "POST",
                uri: "/Product/Delete",
                data: {productId : productId},
                success: function (result){
                    if (!result){
                        alert("Opps something wrong");
                    }
                }
                })
            })
        });  
    </script> 
