@using Microsoft.AspNetCore.Html
@using ShopMVC.ViewModels
@model ShopMVC.ViewModels.ProductWithDetailsViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<div class="vertical-center">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">@Model.Name</h2>
                <hr/>
            </div>
        </div>
        <table>
            <tr>
                <th>Price</th>
                <td>@Model.Price PLN</td>
            </tr>
        </table>
        <div class="col-6 pieces-area">
            <form asp-controller="Cart" asp-action="AddProduct" asp-route-productId="@Model.Id">
                <a class="pieces-minus btn btn-primary" onclick="minusClick()" id="minus-btn"><i class="bi bi-dash-circle"></i> </a>
                <input type="number" class="pieces-label" id="amount" asp-for="Quantity" value="1" min="1" max="@Model.AvailableQuantity" readonly>
                <a class="pieces-plus btn btn-primary" onclick="plusClick()" id="plus-btn"><i class="bi bi-plus-circle"></i></a>
                <button type="submit" class="btn btn-primary btn-cart"><i class="bi bi-cart-plus"></i></button>
            </form>
        </div>
            <br/>
            <div class="col-6 pieces-available-space">
                <h6 class="pieces-available">@Model.AvailableQuantity Pieces available</h6>
            </div>
            <hr class="bigger-margin"/>
            <div class="col-6">
                <p>@Model.Description</p>
            </div>
    </div>
</div>

<script type="text/javascript">
const minusBtn = document.getElementById("minus-btn");
const plusBtn = document.getElementById("plus-btn");
const amountField = document.getElementById('amount');

function minusClick(){
    const currentValue = Number(amountField.value) || 0;
    if (currentValue > 1)
        amountField.value = String(currentValue - 1);
}

function plusClick(){
    const currentValue = Number(amountField.value) || 0;
    if (currentValue < @Model.AvailableQuantity)
        amountField.value = String(currentValue + 1);
}

</script>

